```env
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

# Docker internal endpoints
MONGO_URI=mongodb://mongo:27017/filestreamm
KAFKA_BROKERS=kafka:9092

S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_BUCKET=filestreamm
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true

# Ports
PORT_BACKEND=5001
PORT_ANALYTICS=7001
PORT_NOTIFICATION=7002
PORT_GATEWAY=7003
DASHBOARD_PORT=5173